<!-- FORM FOR ENTER NEW STUDENT INFO -->

<% if flash[:notice] %>
	<div class="alert alert-danger">
		<%=flash[:notice]%>
	</div>
<% end %>

<%= form_for @student do |f| %>
	<div class="form-group">
		<%= f.text_field :email,{:class=>"form-control",:placeholder=>"Email"}  %>
	</div>

	<div class="form-group">
		<%= hidden_field_tag "course_id", params[:course_id] %>
		<%= f.submit "Submit" ,{:class=>"btn btn-primary"}%>
	</div>

<% end %>

